* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

.container {
  width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.main-footer .btn-footer, .main-footer .social-title {
  font-family: getFont("roboto-bold"), sans-serif;
  font-weight: 700;
}

.main-footer .footer-address,
.main-footer .footer-email,
.main-footer .footer-phone {
  font-family: getFont("roboto-regular"), sans-serif;
  font-weight: 400;
}

.nav-menu .nav-link {
  font-family: getFont("roboto-medium"), sans-serif;
  font-weight: 500;
}

.main-footer .btn-footer, .main-footer .social-title, .main-footer .footer-address,
.main-footer .footer-email,
.main-footer .footer-phone {
  color: #FFFFFF;
}

.main-footer .link-email,
.main-footer .link-phone, .main-footer .footer-email,
.main-footer .footer-phone {
  color: rgba(255, 255, 255, 0.6);
}

.main-footer .footer-social, .main-footer .container {
  display: flex;
  align-items: flex-start;
}

.main-header {
  padding-top: 24px;
  padding-bottom: 25px;
}
.main-header .container {
  display: flex;
  align-items: center;
}

.nav-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  justify-self: center;
  align-items: center;
}
.nav-menu .logo {
  margin-right: 150px;
}
.nav-menu .nav-link {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.17;
  color: #212121;
  margin-right: 50px;
  position: relative;
}
.nav-menu .nav-link:hover {
  color: #2196F3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-menu .nav-link:hover::after {
  width: 100%;
}
.nav-menu .nav-link::after {
  position: absolute;
  content: "";
  left: 0;
  top: 40px;
  display: block;
  width: 0;
  height: 4px;
  border-radius: 2px;
  background-color: #2196F3;
  transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-menu #portfolio {
  color: #2196F3;
}
.nav-menu #portfolio::after {
  width: 100%;
}
.nav-menu .nav-email, .nav-menu .phone-number {
  color: #212121;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
}
.nav-menu .nav-email:hover, .nav-menu .phone-number:hover {
  color: #2196F3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-menu .nav-email svg, .nav-menu .phone-number svg {
  margin-right: 3px;
}
.nav-menu .nav-email svg {
  margin-left: 144px;
}
.nav-menu .phone-number svg {
  margin-left: 50px;
}
.nav-menu > li:hover {
  fill: #2196F3;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-footer {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}
.main-footer .footer-address,
.main-footer .footer-email,
.main-footer .footer-phone {
  font-size: 14px;
  line-height: 24px;
  padding-bottom: 9px;
}
.main-footer .footer-social {
  flex-direction: column;
  padding-left: 70px;
}
.main-footer .icon-footer {
  fill: #FFFFFF;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1019607843);
  margin-right: 10px;
  border-radius: 30px;
}
.main-footer .icon-footer:hover {
  background-color: #2196F3;
  transition: background-color, 250ms, cubic-bezier(0.4, 0, 0.2, 1);
}
.main-footer .social-title {
  color: #FFFFFF;
  line-height: 16.41px;
  font-size: 14px;
  letter-spacing: 3%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.main-footer .footer-form {
  margin-left: 93px;
}
.main-footer .input-footer {
  width: 290px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3019607843);
  background-color: #2F303A;
  padding-left: 15px;
}
.main-footer .btn-footer {
  border-radius: 4px;
  border-color: #2196F3;
  background-color: #2196F3;
  text-align: center;
  width: 200px;
  height: 50px;
  cursor: pointer;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 6%;
  padding-bottom: 5px;
}
.main-footer .img-btn-footer {
  margin-left: 5px;
}
.main-footer .link-email,
.main-footer .link-phone {
  text-decoration: none;
}
.main-footer .footer-logo {
  padding-bottom: 20px;
}

.main-section .container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
}
.main-section .container .portfolio-item {
  flex-basis: calc((100% - 60px) / 3);
  box-sizing: border-box;
  outline: 1px solid #EEEEEE;
  position: relative;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-section .container .portfolio-item:nth-last-child(-n+3) {
  margin-bottom: 150px;
}
.main-section .container .portfolio-item:hover {
  box-shadow: 0 8px 8px -5px rgba(0, 0, 0, 0.5);
}
.main-section .container .portfolio-item:hover .overlay {
  height: calc(100% - 60px); /* Adjusted height */
}
.main-section .container .portfolio-item .overlay {
  position: absolute;
  bottom: 60px; /* Adjusted bottom position */
  left: 0;
  right: 0;
  background-color: rgba(33, 150, 243, 0.8980392157);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: height 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-section .container .portfolio-item .overlay .text-overlay {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 28px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 322px;
}
.main-section .container .portfolio-item .portfolio-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  padding-top: 20px;
  padding-left: 24px;
}
.main-section .container .portfolio-item .portfolio-category {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: #757575;
  padding-left: 24px;
  padding-bottom: 20px;
}
.main-section .after-overlay {
  position: relative;
  z-index: 2;
  background-color: #FFFFFF;
  padding: 10px 0;
}

.portfolio-filter {
  display: flex;
  justify-content: center;
  padding-top: 94px;
  padding-bottom: 34px;
}
.portfolio-filter .filter-button {
  background-color: #F5F4FA;
  color: #212121;
  border-radius: 5px;
  border: none;
  margin: 0 8px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-filter .filter-button:hover {
  background-color: #2196F3;
  color: white;
  border-color: #2196F3;
  box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.6);
}
.portfolio-filter .text-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
}