* {
  padding: 0;
  margin: 0;
}

:root {
  --background-color: #2F303A;
  --button-color: #2196F3;
  --section-two-color-text: #757575;
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  src: url("Roboto/Roboto-Bold.ttf");
}
@font-face {
  font-family: "Roboto";
  font-weight: 900;
  src: url("Roboto/Roboto-Black.ttf");
}
@font-face {
  font-family: "Roboto";
  font-weight: 500;
  src: url("Roboto/Roboto-Medium.ttf");
}
@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src: url("Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto";
  font-weight: 300;
  src: url("Roboto/Roboto-Light.ttf");
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

.nav-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  justify-self: center;
  border-bottom: 25px;
  align-items: center;
}

.main-header > .container {
  display: flex;
  align-items: center;
}

.nav-link {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  color: #212121;
  margin-right: 50px;
}

.nav-link:hover {
  color: var(--button-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-email {
  color: #212121;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
}

.nav-email:hover {
  color: var(--button-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo {
  margin-right: 150px;
}

.nav-email {
  margin-left: 144px;
}

.phone-number {
  margin-left: 50px;
  color: #212121;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
}

.phone-number:hover {
  color: var(--button-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
}

.portfolio-filter {
  display: flex;
  justify-content: center;
}

.filter-button {
  background-color: #F5F4FA;
  color: #212121;
  border-radius: 5px;
  border-color: #F5F4FA;
  border: none;
  margin: 0 8px;
  padding: 10px 20px;
  cursor: pointer;
}

.filter-button {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover {
  background-color: var(--button-color);
  color: white;
  border-color: var(--button-color);
}

.main-section > .container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}

.portfolio-category {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: #757575;
}

.main-footer {
  background-color: var(--background-color);
}

.footer-address,
.footer-email,
.footer-phone {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #FFFFFF;
  padding-bottom: 9px;
}

.footer-email {
  color: rgba(255, 255, 255, 0.6);
}

.footer-phone {
  color: rgba(255, 255, 255, 0.6);
}

.link-email {
  text-decoration: none;
}

.link-phone {
  text-decoration: none;
}

.link-email,
.link-phone {
  color: rgba(255, 255, 255, 0.6);
}

.footer-logo {
  padding-bottom: 20px;
}

.container {
  width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.main-header {
  padding-top: 24px;
  padding-bottom: 25px;
}

.portfolio-filter {
  padding-top: 94px;
  padding-bottom: 34px;
}

.portfolio-item {
  flex-basis: calc((100% - 60px) / 3);
  box-sizing: border-box;
  outline: 1px solid #EEEEEE;
}

.main-footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.portfolio-title {
  padding-top: 20px;
}

.portfolio-item:nth-last-child(-n+3) {
  margin-bottom: 150px;
}

.portfolio-title,
.portfolio-category {
  padding-left: 24px;
}

.portfolio-category {
  padding-bottom: 20px;
}

.portfolio-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
  box-shadow: 0 8px 8px -5px rgba(0, 0, 0, 0.5);
}

.filter-button:hover {
  box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.6);
}

.main-header {
  border-bottom: 1px solid #ECECEC;
}

.social-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #FFFFFF;
  line-height: 16.41px;
  font-size: 14px;
  letter-spacing: 3%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer-social {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 70px;
}

.main-footer > .container {
  display: flex;
  align-items: start;
}

.icon-footer {
  fill: #FFFFFF;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1019607843);
  margin-right: 10px;
  border-radius: 30px;
}

.icon-footer:hover {
  background-color: #2196F3;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form {
  margin-left: 93px;
}

.input-footer {
  width: 290px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3019607843);
  background-color: #2F303A;
  padding-left: 15px;
}

.btn-footer {
  border-radius: 4px;
  border-color: var(--button-color);
  background-color: var(--button-color);
  text-align: center;
  width: 200px;
  height: 50px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 6%;
  color: #FFFFFF;
  padding-bottom: 5px;
}

.img-btn-footer {
  margin-left: 5px;
}

.portfolio-item {
  position: relative;
}

.box {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(33, 150, 243, 0.8980392157);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.6s ease;
}

.portfolio-item .overlay {
  transition: height 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .overlay {
  height: 100%;
}

.text-overlay {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 28px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 322px;
}

.nav-link {
  position: relative;
}

.nav-link:after {
  position: absolute;
  content: "";
  left: 0;
  top: 40px;
  display: block;
  width: 0;
  height: 4px;
  border-radius: 2px;
  background-color: #2196F3;
}

.nav-link:hover::after {
  width: 100%;
  transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-email:hover {
  color: var(--button-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

#portfolio::after {
  position: absolute;
  content: "";
  left: 0;
  top: 40px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196F3;
}

#portfolio {
  color: #2196F3;
}