* {
    padding: 0;
    margin: 0;
  }
  

  body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px
  }
  .container{
    width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
  }
@import "./_untills/placeholders";
@import "./_untills/variables";

@import "../scss/_components/_Portfolio/header";
@import "../scss/_components/_Portfolio/footer";
@import "../scss/_components/_Portfolio/main-sec";
@import "../scss/_components/_Portfolio/filter";