@media screen and (max-width: 480px) {
    
    .container{
      width: 480px;
    } 
  }
  @media screen and (max-width: 768px) {
   .container{
      width: 738px;
    } 
    .main-header {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  
  }
  @media screen and (max-width: 1200px) {
    
    .container{
      width: 1200px;
    } 
  }