
.main-header {
  padding-top: 24px;
  padding-bottom: 25px;


  .container {
    display: flex;
    align-items: center;
  }
}

.nav-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  justify-self: center;
  align-items: center;

 
  .logo {
    margin-right: 150px;

    @media screen and (min-width: 768px) and (max-width: 1199px){
      margin-right: 87px;
    }
  }

  .nav-link {
    @extend %font-medium;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.17;
    color: #212121;
    margin-right: 50px;
    position: relative;

    @media screen and (min-width: 768px) and (max-width: 1199px){
      
    }

    &:hover {
      color: $button;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

      &::after {
        width: 100%;
      }
    }

    &::after {
      position: absolute;
      content: '';
      left: 0;
      top: 40px;
      display: block;
      width: 0;
      height: 4px;
      border-radius: 2px;
      background-color: #2196F3;
      transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  #studia {
    color: #2196F3;

    &::after {
      width: 100%;
    }
  }

  .nav-email, .phone-number {
    color: #212121;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    &:hover {
      color: $button;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    svg {
      margin-right: 3px;
    }
  }

  .nav-email svg {
    margin-left: 144px;

  }
   
 .phone-number svg {
    margin-left: 50px;
  }

  > li:hover {
    fill: #2196F3;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
}
.contact{
  display: flex;
  align-items: center;
}